@import '@portal/styles/mixins';

.coreImage {
  &__avatar {
    @include coreImageSize($size: var(--maestro-spacing-xxl));
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    object-fit: contain;
  }

  &__loaded {
    display: none;
  }

  &__notLoaded {
    display: block;
  }
}
